<div class="main-content">
    <div class="img-wrap"><object data="assets\svg\k-points.svg" type="image/svg+xml"></object></div>
    <div class="kpoints-text"><span class="blue-style">K-Points</span> represent your score on the Kaenko Network.</div>
    <div class="kpoints-text">  The more K-Points, the higher your ranking, the respect of the community, and the privileges you get on the network.</div>
    <div class="kpoints-text"> Currently you get 1% of K-Points from the amount of KNKO bought.</div>
    <div class="kpoints-text">  Once the Token Pre-Sale and Sale end, the only way to earn K-Points will be helping friends, family and beyond on their fundraising campaigns (coming soon in the App).</div>
    <div class="kpoints-text">You can find more infos about K-Points in our <span class="blue-style">WhitePaper</span>.</div>
</div>
<div class="main-content-response">
    <div class="head-response">
        <div class="left-head-response">
            <div class="head-value">
                123 505
            </div>
            <div class="knko" routerLink="/knko">
                KNKO
            </div>
        </div>
        <div class="right-head-response">
            <div class="head-value">

            </div>
            <div class="knko">
                bibahadid92
            </div>
        </div>
        <div class="right-head-response"  >
            <div class="head-value">
                <img style="width: 30px;" src="assets\img\VectorSmartObject.png" alt="">
                1000
            </div>
            <div class="knko" routerLink="/k-points" >
                K-Points
            </div>
        </div>
    </div>

    <div class="img-wrap"><object data="assets\svg\k-points.svg" type="image/svg+xml"></object></div>
    <div class="kpoints-text"><span class="blue-style">K-Points</span> represent your score on the Kaenko Network.</div>
    <div class="kpoints-text">  The more K-Points, the higher your ranking, the respect of the community, and the privileges you get on the network.</div>
    <div class="kpoints-text"> Currently you get 1% of K-Points from the amount of KNKO bought.</div>
    <div class="kpoints-text">  Once the Token Pre-Sale and Sale end, the only way to earn K-Points will be helping friends, family and beyond on their fundraising campaigns (coming soon in the App).</div>
    <div class="kpoints-text">You can find more infos about K-Points in our <span class="blue-style">WhitePaper</span>.</div>
</div>
<app-congratulations *ngIf="showCongratulation"></app-congratulations>