<div class="main-content-response">
    <div class="head-response">
        <div class="left-head-response">
            <div class="head-value">
                123 505
            </div>
            <div class="knko" routerLink="/knko">
                KNKO
            </div>
        </div>
        <div class="right-head-response">
            <div class="head-value">

            </div>
            <div class="knko">
                bibahadid92
            </div>
        </div>
        <div class="right-head-response"  >
            <div class="head-value">
                <img style="width: 30px;" src="assets\img\VectorSmartObject.png" alt="">
                1000
            </div>
            <div class="knko" routerLink="/k-points" >
                K-Points
            </div>
        </div>
    </div>

    <div class="kpoints-text"><span class="blue-style">KNKO</span>  is the token issued by Kaenko and will be exclusively used in the Kaenko Network.</div>
    <div class="kpoints-text"> While K-Points represent your score in the Network, KNKO Holders (from the Pre-Sale and Sale) are the only ones who enjoy K-Points before the launch of the Network.</div>
    <div class="kpoints-text"> KNKO Tokens Holders are the only ones who will have an early access to the BETA Version once the App is launched in 2019.</div>
    <div class="kpoints-text">  You can read more about KNKO Tokens in the WhitePaper. </div>
</div>
<app-congratulations *ngIf="showCongratulation"></app-congratulations>