<div style=" min-height: 100vh;">
  <div class="main-wrapper" style="display: flex; justify-content: space-between; flex-flow: column; min-height: 100vh; background: rgba(246, 247, 251, 1);">

    <div>
      <app-header></app-header>
      <div class="warap-body-content">
        <!-- <app-home></app-home> -->
        <!--<app-buy-knko></app-buy-knko>-->
        <!-- <app-congratulations></app-congratulations> -->
        <!-- <app-withdraw></app-withdraw> -->
        <router-outlet></router-outlet>

      </div>
    </div>

    <div>
      <app-footer></app-footer>
    </div>

  </div>
</div>
