<div class="main-wrap">
    <div class="left-content">
      <h1 class="main-caption caption-top-desktop">
          {{ 'WITHDRAW.WINDROW' | translate }}
      </h1>
      <h1 class="main-caption caption-top-respose">
          {{ 'WITHDRAW.SEND' | translate }}
        </h1>

        <div class="input-wrap">
          <span class="lable-input">
            SEND
          </span>
          <input class="input-token" type="text">
          <div class="token-lable-wrap">
            <span>
              KNKO
            </span>
          </div>
        </div>

        <div class="down-chervon-wrap">
          <img src="assets\img\down-chevron.png" alt="">
          <img src="assets\img\down-chevron2.png" alt="">
          <img src="assets\img\down-chevron3.png" alt="">
        </div>

        <h1 class="main-caption main-caption-walelt">
            {{ 'WITHDRAW.YOUR_WALLET' | translate }}
        </h1>
        <div class="input-wrap bot-input">
            <span class="input-token input-wallet">
                <input class="input-token input-token-wallet" type="text" placeholder="Enter you ETH Address">
            </span>
        </div>

       <div class="main-caption-qr">
          {{ 'WITHDRAW.SCAN' | translate }}
       </div>


        <div class="btn-by-wrap">
          <button class="button">
              {{ 'WITHDRAW.CONFIRM' | translate }}
          </button>
        </div>
        <p class="text-bot text-bot-response">
            <span class="warning">{{ 'WITHDRAW.Warning' | translate }}</span>
            {{ 'WITHDRAW.TEXT_BOT1' | translate }} <b>{{ 'WITHDRAW.Definitive' | translate }}</b>
            {{ 'WITHDRAW.TEXT_BOT2' | translate }}
        </p>
    </div>
    <div class="right-content">
      <div class="buying-caption">{{ 'WITHDRAW.SENDING' | translate }}</div>
      <div class="knko-value-captio">10 000 KNKO</div>
      <div class="per-knko-caption">{{ 'WITHDRAW.TO_WALLET' | translate }}</div>
      <div class="img-group-wrap">
        <object data="assets\svg\withdraw-inside.svg" type="image/svg+xml">

        </object>
      </div>
      <p class="text-bot">
          <span class="warning">{{ 'WITHDRAW.Warning' | translate }}</span>
          {{ 'WITHDRAW.TEXT_BOT1' | translate }} <b>{{ 'WITHDRAW.Definitive' | translate }}</b>
          {{ 'WITHDRAW.TEXT_BOT2' | translate }}
      </p>
    </div>
  </div>
