 <!--{{ 'HOME.SELECT' | translate }}-->

 <div class="head-content">
  <div class="box-top" (click)="showTable = 'MyReferrals'" [ngClass]="{'active-box': showTable === 'MyReferrals'}">
    <p class="head-box">{{ 'REFERRALS.MY_REFERALS' | translate }}</p>
    <p class="content-box">
      <img class="img-active" style="width: 25px;" alt="" src="assets\img\REFERRALS-active.png">
      <img class="img-inctive" style="width: 25px;" alt="" src="assets\img\REFERRALS.png">
      70
    </p>
    <p class="knko">
     
    </p>
    <p class="coment">
      <!-- *based on current token sale price -->
    </p>
    
  </div>
  <div class="box-top">
    <p class="head-box">{{ 'REFERRALS.ERNED' | translate }}</p>
    <p class="content-box">
      + 14 600
    </p>
    <p class="knko">
      KNKO
    </p>
    <p class="coment">
      <!-- *based on current token sale price -->
    </p>
  </div>
  <div class="box-top " style="margin-right: 0;" (click)="showTable = 'TotalReferrals'" [ngClass]="{'active-box': showTable === 'TotalReferrals'}">
    <p class="head-box">{{ 'REFERRALS.TOTAL_REFERRALS' | translate }}</p>
    <p class="content-box">
        59 600
    </p>
    <p class="knko bonus">
      KNKO . IN BONUS
    </p>
    <p class="coment">
      <!-- *based on current token sale price -->
    </p>
    <!-- <button class="button new-btn"> NEW</button> -->
  </div>
 </div>

 <div class="body-content" *ngIf = "showTable === 'TotalReferrals'">
  <div class="body-content-head">
    <div class="referals-value-wrap">
      <div class="caption-right">
          {{ 'REFERRALS.TOTAL_REFERRALS' | translate }}
      </div>

    </div>
    <div class="referal-link">
      <span>
        kaenko.com/bibahadid92
      </span>
      <button class="button">
        COPY
      </button>
    </div>
    <div class="scroll-wrap">
        <span (click)="scrollDown()">{{ 'HOME.SCROLL' | translate }}  </span>
        <img (click)="showSettings = !showSettings" src="assets\img\SETTINGS.png" alt="">
        <div *ngIf="showSettings" class="dropdawn-settings">
          <div>
            Export as xslx
          </div>
          <div>
            Save as PDF
          </div>
        </div>
      </div>
  </div>
  <div class="caption-row row-table">
    <div class="column-1">
        {{ 'HOME.Date' | translate }}
    </div>
    <div class="column-2">
        {{ 'HOME.Type' | translate }}
    </div>
    <div class="column-3">
        {{ 'HOME.From' | translate }}
    </div>
    <div class="column-4">
        {{ 'HOME.Amount' | translate }}
    </div>
    <div class="column-5">
        {{ 'HOME.Status' | translate }}
    </div>
    <div class="column-6">
        {{ 'HOME.Balance' | translate }}
    </div>
  </div>
     <div class="scroll-table-body">
   <div class="row-table">
    <div class="column-1">
      Yesterday
    </div>
    <div class="column-2">
      Withdrawal
    </div>
    <div class="column-3">
      Carolina_314
    </div>
    <div class="column-4">
      <div class="amount-value">
          + 40 000 KNKO
      </div>
    </div>
    <div class="column-5">
      <div class="status-value active">
        COMPLETED
      </div>
    </div>
    <div class="column-6 blue-style">
      123 505 KNKO
    </div>
  </div>
   <div class="row-table">
    <div class="column-1">
      Yesterday
    </div>
    <div class="column-2">
      Withdrawal
    </div>
    <div class="column-3">
      Carolina_314
    </div>
    <div class="column-4">
      <div class="amount-value">
          + 40 000 KNKO
      </div>
    </div>
    <div class="column-5">
      <div class="status-value pending">
        PENDING
      </div>
    </div>
    <div class="column-6">
      123 505 KNKO
    </div>
  </div>
   <div class="row-table">
    <div class="column-1">
      Yesterday
    </div>
    <div class="column-2">
      Withdrawal
    </div>
    <div class="column-3">
      Carolina_314
    </div>
    <div class="column-4">
      <div class="amount-value">
          + 40 000 KNKO
      </div>
    </div>
    <div class="column-5">
      <div class="status-value active">
        COMPLETED
      </div>
    </div>
    <div class="column-6">
      123 505 KNKO
    </div>
  </div>
     <div class="row-table">
         <div class="column-1">
             Yesterday
         </div>
         <div class="column-2">
             Withdrawal
         </div>
         <div class="column-3">
             Carolina_314
         </div>
         <div class="column-4">
             <div class="amount-value">
                 + 40 000 KNKO
             </div>
         </div>
         <div class="column-5">
             <div class="status-value active">
                 COMPLETED
             </div>
         </div>
         <div class="column-6">
             123 505 KNKO
         </div>
     </div>

     <div class="row-table">
         <div class="column-1">
             Yesterday
         </div>
         <div class="column-2">
             Withdrawal
         </div>
         <div class="column-3">
             Carolina_314
         </div>
         <div class="column-4">
             <div class="amount-value">
                 + 40 000 KNKO
             </div>
         </div>
         <div class="column-5">
             <div class="status-value active">
                 COMPLETED
             </div>
         </div>
         <div class="column-6">
             123 505 KNKO
         </div>
     </div>

     <div class="row-table">
         <div class="column-1">
             Yesterday
         </div>
         <div class="column-2">
             Withdrawal
         </div>
         <div class="column-3">
             Carolina_314
         </div>
         <div class="column-4">
             <div class="amount-value">
                 + 40 000 KNKO
             </div>
         </div>
         <div class="column-5">
             <div class="status-value active">
                 COMPLETED
             </div>
         </div>
         <div class="column-6">
             123 505 KNKO
         </div>
     </div>

     <div class="row-table">
         <div class="column-1">
             Yesterday
         </div>
         <div class="column-2">
             Withdrawal
         </div>
         <div class="column-3">
             Carolina_314
         </div>
         <div class="column-4">
             <div class="amount-value">
                 + 40 000 KNKO
             </div>
         </div>
         <div class="column-5">
             <div class="status-value active">
                 COMPLETED
             </div>
         </div>
         <div class="column-6">
             123 505 KNKO
         </div>
     </div>

     <div class="row-table">
         <div class="column-1">
             Yesterday
         </div>
         <div class="column-2">
             Withdrawal
         </div>
         <div class="column-3">
             Carolina_314
         </div>
         <div class="column-4">
             <div class="amount-value">
                 + 40 000 KNKO
             </div>
         </div>
         <div class="column-5">
             <div class="status-value active">
                 COMPLETED
             </div>
         </div>
         <div class="column-6">
             123 505 KNKO
         </div>
     </div>

     <div class="row-table">
         <div class="column-1">
             Yesterday
         </div>
         <div class="column-2">
             Withdrawal
         </div>
         <div class="column-3">
             Carolina_314
         </div>
         <div class="column-4">
             <div class="amount-value">
                 + 40 000 KNKO
             </div>
         </div>
         <div class="column-5">
             <div class="status-value active">
                 COMPLETED
             </div>
         </div>
         <div class="column-6">
             123 505 KNKO
         </div>
     </div>

     <div class="row-table">
         <div class="column-1">
             Yesterday
         </div>
         <div class="column-2">
             Withdrawal
         </div>
         <div class="column-3">
             Carolina_314
         </div>
         <div class="column-4">
             <div class="amount-value">
                 + 40 000 KNKO
             </div>
         </div>
         <div class="column-5">
             <div class="status-value active">
                 COMPLETED
             </div>
         </div>
         <div class="column-6">
             123 505 KNKO
         </div>
     </div>
     <div class="row-table">
         <div class="column-1">
             Yesterday
         </div>
         <div class="column-2">
             Withdrawal
         </div>
         <div class="column-3">
             Carolina_314
         </div>
         <div class="column-4">
             <div class="amount-value">
                 + 40 000 KNKO
             </div>
         </div>
         <div class="column-5">
             <div class="status-value active">
                 COMPLETED
             </div>
         </div>
         <div class="column-6">
             123 505 KNKO
         </div>
     </div>
     </div>

 </div>
 
 <div class="body-content" *ngIf = "showTable === 'MyReferrals'">
  <div class="body-content-head">
    <div class="referals-value-wrap">
      <div class="caption-right">
          {{ 'REFERRALS.MY_REFERALS' | translate }} <span> (70)</span>
      </div>
    </div>
    <div class="referal-link">
      <span>
        kaenko.com/bibahadid92
      </span>
      <button class="button">
        COPY
      </button>
    </div>
      <div class="scroll-wrap">
          <span (click)="scrollDown()">{{ 'HOME.SCROLL' | translate }}  </span>
          <img (click)="showSettings = !showSettings" src="assets\img\SETTINGS.png" alt="">
          <div *ngIf="showSettings" class="dropdawn-settings">
              <div>
                  Export as xslx
              </div>
              <div>
                  Save as PDF
              </div>
          </div>
      </div>
  </div>
  <div class="caption-row row-table">
    <div class="column-1">
      
    </div>
    <div class="column-2">
        {{ 'REFERRALS.FullName' | translate }}
    </div>
    <div class="column-3">
        {{ 'REFERRALS.Username' | translate }}
    </div>
    <div class="column-4">
        {{ 'HOME.Amount' | translate }}
    </div>
    <div class="column-5">
        {{ 'HOME.Status' | translate }}
    </div>
    <div class="column-6">
        {{ 'HOME.Balance' | translate }}
    </div>
  </div>
    <div class="word-left">
      A
    </div>
   <div class="row-table">
    <div class="column-1">
      
    </div>
    <div class="column-2">
      Bernard fe Albergaria
    </div>
    <div class="column-3">
      BernardoAlbergas
    </div>
    <div class="column-4">
      <div class="amount-value">
          + 40 000 KNKO
      </div>
    </div>
    <div class="column-5">
      <div class="status-value active">
        ACTIVE
      </div>
    </div>
    <div class="column-6 blue-style">
      123 505 KNKO
    </div>
  </div>
  <div class="row-table">
    <div class="column-1">
      
    </div>
    <div class="column-2">
      Bernard fe Albergaria
    </div>
    <div class="column-3">
      BernardoAlbergas
    </div>
    <div class="column-4">
      <div class="amount-value">
          + 40 000 KNKO
      </div>
    </div>
    <div class="column-5">
      <div class="status-value active">
        ACTIVE
      </div>
    </div>
    <div class="column-6">
      123 505 KNKO
    </div>
  </div>
  <div class="row-table">
    <div class="column-1">
      
    </div>
    <div class="column-2">
      Bernard fe Albergaria
    </div>
    <div class="column-3">
      BernardoAlbergas
    </div>
    <div class="column-4">
      <div class="amount-value">
          + 40 000 KNKO
      </div>
    </div>
    <div class="column-5">
      <div class="status-value pending">
        INACTIVE
      </div>
    </div>
    <div class="column-6">
      123 505 KNKO
    </div>
  </div>
  <div class="word-left">
    B
  </div>
  <div class="row-table">
    <div class="column-1">
      
    </div>
    <div class="column-2">
      Bernard fe Albergaria
    </div>
    <div class="column-3">
      BernardoAlbergas
    </div>
    <div class="column-4">
      <div class="amount-value">
          + 40 000 KNKO
      </div>
    </div>
    <div class="column-5">
      <div class="status-value pending">
        INACTIVE
      </div>
    </div>
    <div class="column-6">
      123 505 KNKO
    </div>
  </div>
  <div class="row-table">
    <div class="column-1">
      
    </div>
    <div class="column-2">
      Bernard fe Albergaria
    </div>
    <div class="column-3">
      BernardoAlbergas
    </div>
    <div class="column-4">
      <div class="amount-value">
          + 40 000 KNKO
      </div>
    </div>
    <div class="column-5">
      <div class="status-value active">
        ACTIVE
      </div>
    </div>
    <div class="column-6">
      123 505 KNKO
    </div>
  </div>
 </div>

<div class="response-content">
  <div class="head-response">
    <div class="left-head-response" (click)="showContent = 'AffliateMobil'" [ngClass]="{'active-box-response': showContent === 'AffliateMobil'}">
      <div class="head-value">
        70
      </div>
      <div class="knko">
          {{ 'REFERRALS.AFFLIATES' | translate }}
      </div>
    </div>
    <div class="knko" style="position: relative; left: -15px;">
      {{ 'REFERRALS.LINK' | translate }}
    </div>
    <div class="right-head-response" (click)="showContent = 'ShowTotalRefMobile'" [ngClass]="{'active-box-response': showContent === 'ShowTotalRefMobile'}">
      <div class="head-value">
        <!-- <img style="width: 30px;" src="assets\img\VectorSmartObject.png" alt=""> -->
        +59K
      </div>
      <div class="knko">
        IN BONUS
      </div>
    </div>
  </div>
  <div class="referal-link-wrap">
    <div class="referal-link">
      <span class="referal-link-text">
        kaenko.com/bibahadid92
      </span>
      <button class="button">
        COPY
      </button>
    </div>
  </div>
  <div class="body-response-wrap" *ngIf = "showContent === 'AffliateMobil'">
    <div class="body-content-response">
      <div class="scroll-tab scroll-tab-affliates">
        <div>Inactive</div>
        <div>Active</div>
        <div class="active-tab">All Referrals</div>
        <div>Top Buyers</div>
      </div>
    </div>
    <div class="content-response">
        <div class="head-content-response center">
          <div class="time-value">
            A
          </div>
          <div class="knko-wrap-right blue-style-text">
            TOTAL KNKO
            <div class="knko-value-blue-style status-value">
              123 505
            </div>
          </div>
        </div>
    </div>
    <div class="content-response">
        <div class="head-content-response">
          <div class="time-value">
            <img style="width: 50px; border-radius: 50%; margin-right: 15px;" src="assets\img\favicon.png" alt="">
            <div class="knko-value-inside-wrap">
              <div class="knko-value-inside">
                Anna Hendricks
              </div>
              <div class="time-value-inside">
                Active 
              </div>
            </div>
          </div>
          <div class="knko-wrap-right knko-value-right">
            + 2050 KNKO
          </div>
        </div>
    </div>
    <div class="content-response">
      <div class="head-content-response">
        <div class="time-value">
          <img style="width: 50px; border-radius: 50%; margin-right: 15px;" src="assets\img\favicon.png" alt="">
          <div class="knko-value-inside-wrap">
            <div class="knko-value-inside">
              Anna Hendricks
            </div>
            <div class="time-value-inside">
              Active
            </div>
          </div>
        </div>
        <div class="knko-wrap-right knko-value-right">
          + 2050 KNKO
        </div>
      </div>
  </div>
  <div class="content-response">
    <div class="head-content-response">
      <div class="time-value">
        <img style="width: 50px; border-radius: 50%; margin-right: 15px;" src="assets\img\favicon.png" alt="">
        <div class="knko-value-inside-wrap">
          <div class="knko-value-inside">
            Anna Hendricks
          </div>
          <div class="time-value-inside">
            Active
          </div>
        </div>
      </div>
      <div class="knko-wrap-right knko-value-right">
        + 2050 KNKO
      </div>
    </div>
  </div>
    <div class="content-response">
        <div class="head-content-response center">
          <div class="time-value">
            B
          </div>
          <div class="knko-wrap-right">
            KNKO
            <div class="knko-value-gray-style status-value">
              123 505
            </div>
          </div>
        </div>
    </div>
    <div class="content-response">
      <div class="head-content-response">
        <div class="time-value">
          <img style="width: 50px; border-radius: 50%; margin-right: 15px;" src="assets\img\favicon.png" alt="">
          <div class="knko-value-inside-wrap">
            <div class="knko-value-inside">
              Anna Hendricks
            </div>
            <div class="time-value-inside">
              Active
            </div>
          </div>
        </div>
        <div class="knko-wrap-right knko-value-right">
          + 2050 KNKO
        </div>
      </div>
  </div>
  <div class="content-response">
    <div class="head-content-response">
      <div class="time-value">
        <img style="width: 50px; border-radius: 50%; margin-right: 15px;" src="assets\img\favicon.png" alt="">
        <div class="knko-value-inside-wrap">
          <div class="knko-value-inside">
            Anna Hendricks
          </div>
          <div class="time-value-inside">
            Active
          </div>
        </div>
      </div>
      <div class="knko-wrap-right knko-value-right">
        + 2050 KNKO
      </div>
    </div>
  </div>
  <div class="content-response">
    <div class="head-content-response">
      <div class="time-value">
        <img style="width: 50px; border-radius: 50%; margin-right: 15px;" src="assets\img\favicon.png" alt="">
        <div class="knko-value-inside-wrap">
          <div class="knko-value-inside">
            Anna Hendricks
          </div>
          <div class="time-value-inside">
            Active
          </div>
        </div>
      </div>
      <div class="knko-wrap-right knko-value-right">
        + 2050 KNKO
      </div>
    </div>
  </div>
  </div>

  <div class="body-response-wrap"  *ngIf = "showContent === 'ShowTotalRefMobile'">
    <div class="knko-value-top">
      <p>+ 59 600</p>
      <p>KNKO . IN BONUS</p>
    </div>
    <div class="body-content-response">
      <div class="scroll-tab">
          <div>January</div>
          <div>February</div>
          <div>March</div>
          <div>This month</div>
          <div>All time</div>
      </div>
    </div>
    <div class="content-response">
        <div class="head-content-response center">
          <div class="time-value">
            Today
          </div>
          <div class="knko-wrap-right blue-style-text">
            TOTAL KNKO
            <div class="knko-value-blue-style status-value">
              123 505
            </div>
          </div>
        </div>
    </div>
    <div class="content-response">
        <div class="head-content-response">
          <div class="time-value">
            <img style="width: 50px; border-radius: 50%; margin-right: 15px;" src="assets\img\favicon.png" alt="">
            <div class="knko-value-inside-wrap">
              <div class="knko-value-inside">
                Jian yang
              </div>
              <div class="time-value-inside">
                3:49 . <span>Bonus 5%</span>
              </div>
            </div>
          </div>
          <div class="knko-wrap-right knko-value-right">
            + 250 KNKO
          </div>
        </div>
    </div>
    <div class="content-response">
      <div class="head-content-response">
        <div class="time-value">
          <img style="width: 50px; border-radius: 50%; margin-right: 15px;" src="assets\img\favicon.png" alt="">
          <div class="knko-value-inside-wrap">
            <div class="knko-value-inside">
              Richard Hendricks
            </div>
            <div class="time-value-inside">
              15:03 . <span>Bonus 5%</span>
            </div>
          </div>
        </div>
        <div class="knko-wrap-right knko-value-right">
          + 5000 KNKO
        </div>
      </div>
  </div>
  <div class="content-response">
    <div class="head-content-response">
      <div class="time-value">
        <img style="width: 50px; border-radius: 50%; margin-right: 15px;" src="assets\img\favicon.png" alt="">
        <div class="knko-value-inside-wrap">
          <div class="knko-value-inside">
            Errich Bachman
          </div>
          <div class="time-value-inside">
            1:05 . <span>Bonus 5%</span>
          </div>
        </div>
      </div>
      <div class="knko-wrap-right knko-value-right">
        + 2050 KNKO
      </div>
    </div>
  </div>
    <div class="content-response">
        <div class="head-content-response center">
          <div class="time-value">
            Yesterday
          </div>
          <div class="knko-wrap-right">
            KNKO
            <div class="knko-value-gray-style status-value">
              54 250
            </div>
          </div>
        </div>
    </div>
    <div class="content-response">
      <div class="head-content-response">
        <div class="time-value">
          <img style="width: 50px; border-radius: 50%; margin-right: 15px;" src="assets\img\favicon.png" alt="">
          <div class="knko-value-inside-wrap">
            <div class="knko-value-inside">
              Anna Hendricks
            </div>
            <div class="time-value-inside">
              23:25 . <span>Bonus 5%</span>
            </div>
          </div>
        </div>
        <div class="knko-wrap-right knko-value-right">
          + 2050 KNKO
        </div>
      </div>
  </div>
  <div class="content-response">
    <div class="head-content-response">
      <div class="time-value">
        <img style="width: 50px; border-radius: 50%; margin-right: 15px;" src="assets\img\favicon.png" alt="">
        <div class="knko-value-inside-wrap">
          <div class="knko-value-inside">
            Anna Hendricks
          </div>
          <div class="time-value-inside">
            23:15 . <span>Bonus 5%</span>
          </div>
        </div>
      </div>
      <div class="knko-wrap-right knko-value-right">
        + 2050 KNKO
      </div>
    </div>
  </div>
  <div class="content-response">
    <div class="head-content-response">
      <div class="time-value">
        <img style="width: 50px; border-radius: 50%; margin-right: 15px;" src="assets\img\favicon.png" alt="">
        <div class="knko-value-inside-wrap">
          <div class="knko-value-inside">
            Anna Hendricks
          </div>
          <div class="time-value-inside">
            21:15 . <span>Bonus 5%</span>
          </div>
        </div>
      </div>
      <div class="knko-wrap-right knko-value-right">
        + 2050 KNKO
      </div>
    </div>
  </div>
  </div>

</div>

