<div class="main-wrap">
    <div class="menu-wrap-outer">
     <div class="footer-left">
        Copyrights © 2018 Kaenko Holdings Limited. All rights reserved.
     </div>
     <div class="footer-right">
      <span>
          <span>{{ 'FOOTER.Use' | translate }}</span>
      </span>
      <span>
          <span>{{ 'FOOTER.Policy' | translate }}</span>
      </span>
      <span style="border-right: none;">
          <span>{{ 'FOOTER.Sale' | translate }}</span>
      </span>
     </div>
    </div>
  </div>

  
