<div class="main-wrap">
    
    <div class="left-content">
      <h1 class="main-caption">
          {{ 'SETTINGS.ChangePassword' | translate }}
      </h1>
       <div class="input-wrap">
          <input type="text" placeholder="Current Password">
       </div>
       <div class="input-wrap">
          <input type="text" placeholder="New Password">
       </div>
       <div class="input-wrap">
          <input type="text" placeholder="Repeat New Password">
       </div>
       <div class="button-update-wrap">
        <button class="button btn-settings">
          UPDATE
        </button>
       </div>
    </div>
    <div class="right-content">
      <h1 class="main-caption" style="margin-bottom: 52px;">
          {{ 'SETTINGS.Verification' | translate }}
      </h1>
      <p class="second-caption">
          {{ 'SETTINGS.NUMBER' | translate }}
      </p>
      <div class="mobil-number-wrap">
        <img style="width: 30px; margin-right: 5px;" src="assets\img\flag.png" alt="">
        +356 99987310
      </div>
      <p class="second-caption">
        {{ 'SETTINGS.CODE' | translate }}
      </p>
        <div class="input-wrap">
          <input style="margin-top: 9px;" type="text" placeholder="Enter code here">
       </div>
       <div class="button-group">
        <button style="margin-right: 10px;" class="button btn-settings">
          1. GET SMS WITH CODE
        </button>
        <button style="margin-left: 10px;" class="button btn-settings">
          2. CONFIRM
        </button> 
       </div>
       <div class="text-bot">
          {{ 'SETTINGS.TEXT_BOT' | translate }}
       </div>
    </div>
  </div>
  <app-congratulations *ngIf="showCongratulation"></app-congratulations>
  